In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('taxi_rides.csv')
df

/var/folders/nb/w_fjyjss51j0y5y1279bw9tr0000gn/T/ipykernel_5033/4070383598.py:1: DtypeWarning: Columns (12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('taxi_rides.csv')

,Unnamed: 0,driver_id,client_id,start_point,end_point,distance,start_time,end_time,road_time,cost,driver_rate,client_rate,category_driver_feedback,text_driver_feedback,category_client_feedback,text_client_feedback
0,0,3134,111,"(51.62878, -0.172348)","(51.589973, -0.112392)",5.99,2023-05-29 17:11:27,2023-05-29 17:18:38.280,0 days 00:07:11.280000,11.99,5.0,5.0,good service,['expert navigation'],quiet,[]
1,1,4068,1561,"(51.551131, -0.173485)","(51.521158, -0.161323)",3.44,2023-01-10 10:16:37,2023-01-10 10:20:44.680,0 days 00:04:07.680000,10.08,1.0,1.0,rude,"['rude', 'awful service']",dirty,"['unpolite', 'unpleasant', 'loud']"
2,2,1314,526,"(51.580247, -0.1188)","(51.651933, -0.077091)",8.48,2023-05-22 17:42:54,2023-05-22 17:53:04.560,0 days 00:10:10.560000,13.86,1.0,1.0,dirty,[],loud,['unpolite']
3,3,2773,521,"(51.546822, -0.442101)","(51.495447, -0.192481)",18.24,2023-04-18 13:19:44,2023-04-18 13:41:37.280,0 days 00:21:53.280000,14.12,5.0,5.0,good service,[],quiet,[]
4,4,1978,1476,"(51.566182, -0.137344)","(51.61868, -0.104788)",6.26,2023-06-17 02:02:02,2023-06-17 02:09:32.720,0 days 00:07:30.720000,8.13,4.0,4.0,expert navigation,['nice car'],pleasant,['polite']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999995,9999995,303,40,"(51.611234, -0.423317)","(51.442887, -0.145358)",26.89,2023-10-02 12:32:58,2023-10-02 13:05:14.080,0 days 00:32:16.080000,18.44,NaN,NaN,NaN,NaN,NaN,NaN
9999996,9999996,1417,1085,"(51.474597, -0.120644)","(51.425729, -0.218363)",8.70,2023-05-19 14:36:17,2023-05-19 14:46:43.400,0 days 00:10:26.400000,9.35,NaN,NaN,NaN,NaN,NaN,NaN
9999997,9999997,3399,395,"(51.524137, -0.177031)","(51.587977, -0.221811)",7.75,2023-12-14 09:58:12,2023-12-14 10:07:30.000,0 days 00:09:18,13.31,NaN,NaN,NaN,NaN,NaN,NaN
9999998,9999998,3293,1573,"(51.652474, -0.107021)","(51.484753, -0.183628)",19.40,2023-05-07 15:44:57,2023-05-07 16:08:13.800,0 days 00:23:16.800000,14.70,NaN,NaN,NaN,NaN,NaN,NaN
9999999,9999999,4148,1070,"(51.509452, -0.132453)","(51.53839, -0.137542)",3.24,2023-03-15 18:34:37,2023-03-15 18:38:30.280,0 days 00:03:53.280000,9.93,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.count()

Unnamed: 0                  10000000
driver_id                   10000000
client_id                   10000000
start_point                 10000000
end_point                   10000000
distance                    10000000
start_time                  10000000
end_time                    10000000
road_time                   10000000
cost                        10000000
driver_rate                     5000
client_rate                     5000
category_driver_feedback        5000
text_driver_feedback            5000
category_client_feedback        5000
text_client_feedback            5000
dtype: int64